<template name="aboutus">
<div class="container" style="background-color: #F8ECC2;">
  <div class="row" id="aboutus-data" style="font-family: serif; font-size: 1.2em; padding: 20px;">
    <h1 style="color: #DAA520; text-align: center;">About Us</h1>
    <p>
       Wovenz is ingenuity of group of passionate &amp; energetic people to present artisans &amp; designers from our country to the world.<br>
       We are on mission to be part of enrichment in fading handicraft industry.<br>
       <br>
       Our focuses are on merchandises with exclusive, high quality craftsmanship, unambiguously native designs that feel at home anywhere in the world. Our products include some exclusively embroidered arts being practised in households from generations.<br>
       <br>
       At Wovenz, each piece is handpicked (from material to finished products), one-of-its-kind collections, with no equal in the world and truly worthy.
    </p>
  </div>
</div>
</template>
