<template name="returns">
<div class="container" style="background-color: #F8ECC2;">
 <div class="row" id="returns-data"  style="font-family: serif; font-size: 1.2em; padding: 20px;">

  <h1 style="color: #DAA520; text-align: center;">Returns &amp; Exchange Policy</h1>
   <p><strong>Ordered for merchandise designates that you have accredited, understood, and agree to adhere to the following Returns & Exchange policy:</strong></p>

  <div>
   <h3>Cancellation Terms &amp; Condition:</h3>
   <ul>
    <li>Cancellation can be done within 48hrs of order placed</li>
    <li>Wovenz will not be responsible for any incorrect fund transfer against returns arising due to inaccurate feedback/response by the customers. Buyer takes the complete responsibility of the accuracy of the information provided</li>
    <li>Amount will credited to customer account within 15 days from the day of cancellation</li>
   </ul>
   <p><i>*Currently our website does not support cancellation by customers. You can surely write back to us at <a href="mailto: contactus@wovenz.com">contactus@wovenz.com</a></i></p>
 </div>

  <div>
   <h3>Exchange Terms &amp; Condition:</h3>
    <ul>
     <li>Slight colour difference is expected depending on the screen resolution and lights, hence please don’t expect an exchange or return for the same</li>
     <li>If the garment size doesn’t fit you, you can send it for exchange and request for a different size if available on website (customer will be liable to pay the delivery charges for an exchange minimum of Rs.300)</li>
     <li>Garment for exchange should have price tag and copy of shipment/ bill. Please ensure to send the copy bill with product</li>
     <li>The garment should be unused, unwashed and should not have any stains on it. Also, the garment should be properly folded and packed</li>
     <li>Exchange should be done within 20 days from the day of the order place</li>
     <li>Please mention your name, address, phone number, email and order id on the parcel</li>
     <li>In case wrong merchandise is being sent, which might happen at times while stuffing the goods, kindly send us back and we will send the replacement</li>
     <li>Products purchased during sale are non-exchangeable</li>
   </ul>
   <p><i>*If the exchange condition is not fulfilled, we will not be able to do an exchange of the product</i></p>
  </div>

  <div>
   <h3>Return Terms &amp; Condition:</h3>
   <ul>
    <li>If the garment size doesn’t fit you and other sizes are not available, we promise to refund the amount after deducting delivery charges</li>
     <ol>
      <li>Please ensure to return the product within 15 days from the day order is placed</li>
      <li>Product for return should have price tag and copy of shipment/bill. Please ensure to send the copy of the bill with the product</li>
      <li>The garment should be unused, unwashed and should not have any stains on it. Also, it should be properly folded and packed</li>
     </ol>
    <li>In case product received by customer is found to be damaged, we promise to refund the amount after deduction of delivery charges</li>
   </ul>
   <p><i>*If the exchange condition is not fulfilled, we will not be able to do an exchange of the product</i></p>
  </div>
 
 </div>
</div>
</template>
