<template name="shipping">
<div class="container" style="background-color: #F8ECC2;">
 <div class="row" id="shipping-data" style="font-family: serif; font-size: 1.2em; padding: 20px;">
  <h1 style="color: #DAA520; text-align: center;">Shipping Policy</h1>
  <ul>
   <li>Wovenz offers free delivery within India on all products. We take care of your delivery; you only pay the value of the ordered product</li>
   <li>Currently our reach is only within India. You can place orders from across the globe but delivery addresses are restricted to India *</li>
   <li>We also offer express delivery with minimal charges (these charges are from our delivery partner)</li>
   <li>Team Wovenz promise to deliver the orders as early as possible depending on the location, we deliver most of our orders within 5-10 days</li>
  </ul>
  <br>
  <p><i>*Currently our payment partners accept only INR; we are in process to accept global currency</i></p>
 </div>
</div>
</template>
